<!DOCTYPE html>
<html>
    <head>
        <title>Benchmark Voting App</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>        
        <style>
            body        { padding-top:80px; word-wrap:break-word; }
            form        { padding-top: 10px; }
            .page-header { margin-bottom: 20px; }
        </style>
    </head>
    <body>