<!DOCTYPE html>
<html>
    <head>
        <title>Benchmark Voting App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">    
    </head>
    <body>
      
        
     <div class="container"><!--outer container-->
        
        <!--navbar------------------------------------------------------------->
     
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger" ></span>
              </button>
              <a class="navbar-brand" href="/">Benchmark Voting App</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                
                <!-- IF LOGGED IN --------------------------------------------->
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create</a></li>
                <!------------------------------------------------------------->
                
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  
                <!-- IF LOGGED IN --------------------------------------------->
                <% if (typeof user !== "undefined") { %>
                  <li><a href="/profile">Welcome, <%= user.email %></a></li>
                  <li><a href="/logout">Logout</a></li                  
               <% } else { %> 
                <!-- ELSE ----------------------------------------------------->
                <li><a href="/signup"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <!------------------------------------------------------------->
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
        
        <!--END NAVBAR -------------------------------------------------------->




        <div class="page-header">
            <h1>Voting App</h1>
            
      
            
        </div><!--END PAGE HEADER-->
        
        
        <div class="spacer"></div>