<% include _header %>


        
        <div id="container" style="width: 100%; margin: auto"></div>
        

        <div id="vote-buttons" class="list-group"></div>

    


    <hr />
    
    <p>Return to <a href="/surveys">surveys</a>


    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>