<% include _header %>


        
        <div id="container" style="width: 100%; margin: auto"></div>
        
        <hr />
        
        <div class="well">
            Please click an option below to cast your vote.
        </div>
        <div class="well">
            <i class="fa fa-info-circle"></i>As this is a demonstration app, users are not limited to one vote.
        </div>

        <div id="vote-buttons" class="list-group"></div>

    


    <hr />
    
    <p>Return to <a href="/surveys">surveys</a></p>



    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>