<% include _header %>

    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
        
        <div id="container" style="width: 100%; margin: auto"></div>
        
        <hr class="divider-color"/>
        
        <div class="well">
            Please click an option below to cast your vote.
        </div>


        <div id="vote-buttons" class="list-group"></div>

    


    <hr class="divider-color"/>


    </div>

    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>