<% include _header %>

    <div class="col-sm-6 col-sm-offset-3">
        
        <div id="container" style="width: 100%; margin: auto"></div>
        
        <hr class="divider-color"/>
        
        <div class="well light-primary-color">
            Please click an option below to cast your vote.
        </div>
        <div class="well light-primary-color">
            <i class="fa fa-info-circle"></i>As this is a demonstration app, users are not limited to one vote.
        </div>

        <div id="vote-buttons" class="list-group"></div>

    


    <hr class="divider-color"/>
    
    <p>Return to <a href="/surveys">surveys</a></p>

    </div>

    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>