<% include _header %>

    <div class="col-sm-12 col-md-10 col-md-offset-1">
        
        <div id="container" style="width: 100%; margin: auto"></div>
        
        <hr class="divider-color"/>
        
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="well">
                Please choose an option.
              </div>
            </div>
            <div class="back">
              <div class='alert alert-success'>Thank you for voting</div>
            </div>
          </div>
        </div>


        <div id="vote-buttons" class="list-group"></div>

    




    <% if (typeof user !== "undefined") { %>
      <div class="btn btn-default btn-md" id="add-option">Add an option</div>
      <hr class="divider-color"/>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
        Tweet
      </a>
    <% } else { %>
      <hr class="divider-color"/>
      <% } %>
    </div>

    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>