<% include _header %>


        
        <div id="container" style="width: 100%; margin: auto"></div>
        
        <div class="well">
            <p>Please click an option below to cast your vote.</p>
            <p>As this is a demonstration app, users are not limited to one vote.</p>
        </div>

        <div id="vote-buttons" class="list-group"></div>

    


    <hr />
    
    <p class="pull-left">Return to <a href="/surveys">surveys</a></p>


    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>