<% include _header %>

    <div class="container">
        
        <div class="page-header">
            
            <h1>Benchmark Voting App</h1>
            

                Welcome, user.email
                <a href="/logout" class="pull-right">Logout</a>
 
            
        </div>
        
        <h2 id="title"></h2>
    
        <div id="container" style="width: 100%; margin: 0 auto"></div>
        

        <div id="vote-buttons" class="list-group"></div>

    


    <hr />
    
    <p>Return to <a href="/surveys">surveys</a>

    </div>
    
<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/display.client.js"></script>
<% include _footer %>