<% include _header %>

 

<div class="col-sm-12 col-md-10 col-md-offset-1">
    
    <div class="well">
        <h4>Hi <%= user.email %>, welcome to your profile page.</h4>
        <div id="profile-survey-list-intro"></div>
    </div>

     <div class="list-group" id="survey-list"></div>
    
    <hr class="divider-color"/>
    
</div>

<script>
    var data = <%- data %>;
</script>  
<script type="text/javascript" src="controllers/profile.client.js"></script>

<% include _footer %>