<% include _header %>

    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

        <!-- display any authentication messages -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><strong><%= message %></strong></div>
        <% } %>

        <div class="well light-primary-color">
            <p>Hello and welcome to my voting app.</p> 
            <p>This was built on a modified clemintine.js template, with node / express for the backend, mongoDB / mongoose for database, passport / bcrypt-nodejs for user control and ejs as the view engine.</p>
            <p>For a closer look, <a href="https://github.com/benchlamp/benchmark-voting-node" target="blank">please visit my repo here.</a></p>
            <p>Click a title below to see our poll results, or <a href="/login">login</a> to create something of your own!</p>
        </div>
        
         <div class="list-group" id="survey-list"></div>
        
        <hr class="divider-color"/>
        
    </div>

<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/surveys.client.js"></script>
<% include _footer %>