<% include _header %>


        
         <div class="list-group" id="survey-list"></div>
        



<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/surveys.client.js"></script>
<% include _footer %>