<% include _header %>

    <div class="container">
        
        <div class="page-header">
            
            <h1>Benchmark Voting App</h1>
            

                Welcome, <%= user.email %>
                <a href="/logout" class="pull-right">Logout</a>
 
            
        </div>


        <div class="list-group">
            <a href="/display?id=8761387" class="list-group-item list-group-item-action">Survey 1</a>
            <a href="#" class="list-group-item list-group-item-action">Survey 2</a>
            <a href="#" class="list-group-item list-group-item-action">Survey 3</a>
        </div>
        
        <a href="/create"><div class="btn btn-default">Create a new survey</div></a>

    </div>
    
<% include _footer %>