<% include _header %>

        <div class="well">
            <p>Hello and welcome to my voting app.</p> 
            <p>This was built on a modified clemintine.js template, with node / express for the backend, mongoDB / mongoose for database, passport / bcrypt-nodejs for user control and ejs as the view engine.</p>
            <p>For a closer look, <a href="https://github.com/benchlamp/benchmark-voting-node" target="blank">please visit my repo here.</a></p>
            <p>Please click a title below to see our poll results, or login to create something of your own!</p>
        </div>
        
         <div class="list-group" id="survey-list"></div>
        
        <hr />
        


<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/surveys.client.js"></script>
<% include _footer %>