<% include _header %>

    <div class="container">
        
        <div class="page-header">
            
            <h1>Benchmark Voting App</h1>
            

                Welcome, user.email
                <a href="/logout" class="pull-right">Logout</a>
 
            
        </div>


        <div class="list-group" id="survey-list"></div>
        
        <a href="/create"><div class="btn btn-default">Create a new survey</div></a>

    </div>

<script>
    var data = <%- data %>;
</script>   
<script type="text/javascript" src="controllers/surveys.client.js"></script>
<% include _footer %>