.dark-primary-color {
  background: #303F9F;
}
.default-primary-color {
  background: #3F51B5;
}
.light-primary-color {
  background: #C5CAE9;
}
.text-primary-color {
  color: #FFFFFF !important;
}
.accent-color {
  background: #00BCD4;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #BDBDBD;
}
body {
  background-color: #F5F5F5;
  font--size: 18px;
}
.navbar-brand,
footer {
  font-size: 18px;
}
.navbar {
  background-color: #1976D2;
  margin-bottom: 1px;
}
.navbar-brand,
.navbar-nav > li,
.navbar-nav > li > a,
.navbar-header > button,
.list-group-item {
  color: #FFFFFF;
  font-family: 'Hind', sans-serif;
}
.navbar-brand:hover {
  color: #CDDC39;
}
.navbar-nav > li > a:hover,
.navbar-header > button:hover {
  color: #212121;
  background-color: #CDDC39;
}
.page-header {
  margin-top: 0px;
  margin-bottom: 1px;
  border-bottom: none;
  background-image: url("/img/bgimg.jpg");
  background-size: 100% auto;
  padding: 10% 20px;
  text-align: right;
}
.page-header h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-family: 'Audiowide', cursive !important;
}
.spacer {
  height: 30px;
  background-color: #2196F3;
  margin-top: 0px;
  margin-bottom: 20px;
}
.content-filler {
  height: 400px;
  padding-top: 15%;
}
.list-group-item,
a.list-group-item {
  text-align: center;
  width: 50%;
  margin: 10px auto;
  color: #FFFFFF;
  background-color: #1976D2;
}
.list-group-item:hover,
a.list-group-item:hover {
  background-color: #CDDC39;
}
.well {
  background-color: #BBDEFB;
}
.flip-container {
  perspective: 1000px;
  margin-bottom: 100px;
  text-align: center;
}
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}
.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container,
.front,
.back {
  width: 100%;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.custom-button {
  box-sizing: border-box;
  margin-bottom: 20px !important;
  position: relative;
  max-width: 600px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  border: solid 1px #1976D2;
}
.custom-button-slider {
  position: absolute;
  background-color: #BBDEFB;
  color: #2196F3;
  width: 0;
  height: 100%;
  right: 0;
  -webkit-transition: 1s;
  transition: linear;
  line-height: 40px;
}
.custom-button-slider p {
  opacity: 0;
}
.custom-button-slider.slide {
  -webkit-transition: 1s;
  width: 100%;
}
.custom-button-slider.slide p {
  -webkit-transition: 2s;
  opacity: 1;
  color: #FFFFFF;
}
.custom-button-option {
  height: 100%;
  margin: auto;
  display: table;
  width: 80%;
  float: left;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
  background-color: white;
  color: #212121;
}
.custom-button-option-name {
  display: table-cell;
  vertical-align: middle;
}
.custom-button-submit {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  margin: auto;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.9);
  outline: 0;
}
footer {
  height: 30px;
  background-color: #2196F3;
  color: #212121 !important;
  text-align: right;
  line-height: 30px;
  clear: both;
}
footer .copywrite {
  padding-top: 6px;
  padding-right: 10px;
  color: #FFFFFF;
}
